.login-container{
    .loader-icon {
        margin-right: 7px;
        top: 2px;
        animation: spin 1s infinite linear;
    }
    
    @keyframes spin {
        from {
            transform: scale(1) rotate(0deg);
        }
        to {
            transform: scale(1) rotate(360deg);
        }
    }
    .header{
        height: 45px;
        text-align: right;
        padding: 10px 30px;
        button{
            border: 1px solid green ;
            background-color: white;
            border-radius: 5px;
            margin-left: 15px;
            padding: 5px;
            .link-signup{
                text-decoration: none;
                color: black;
            }
            
        }
        button:hover{
            background-color: black;
            .link-signup{
            color: white;
            
            }
        }
        
    }
    
    .title{
        font-size: 25px;
        padding: 20px 0;
        text-align: center;
    }
    .welcome{
        font-size: 20px;
        padding: 10px;
        text-align: center;
    }
   .content-form{
    input{
        margin-bottom: 10px;
        margin-top: 3px;
    }
   button{
    width: 100%;
    margin-top: 10px;
    &disabled {
        background: #dddddd;
      }
   }
   .back{
    cursor: pointer;
   }
   }
}